################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoWebApplication
/DemoWebApplication/bin/Debug/netcoreapp3.1
/DemoWebApplication/obj
/DemoWebApplication/Properties
